<div class="add-Box">
    <div class="add-Inner">
        <div class="add-Fnct">
            <img src="/styles/images/picture.png">
        </div> 
        <div class="add-Divider"></div>
        <div class="add-Fnct">
            <img src="/styles/images/pdf.png">
        </div>
        <div class="add-Divider"></div>
        <div class="add-Fnct">
            <img src="/styles/images/list.png">
        </div> 
    </div>
</div>