<div class="add-Box">
    <div class="add-Inner">
        <div class="add-Fnct">
            <div class="image-upload">
              
                <label for="file-input">
                    <p>Add an image by clicking on the icon!</p>
                    <img src="/styles/images/picture.png" />
                </label>

                <input id="file-input" type="file" accept="image/*" onchange="readURL(this);" />
            </div>

        </div>
        
    </div>
</div>