<div class="align-Box">
    <div class="align-Inner">
        <div class="align-Fnct">
            <i class="fa fa-align-left"></i>
        </div>
        <div class="align-Divider"></div>
        <div class="align-Fnct">
            <i class="fa fa-align-center"></i>
        </div>
        <div class="align-Divider"></div>
        <div class="align-Fnct">
            <i class="fa fa-align-right"></i>
        </div>
    </div>
</div>