<div class="cf-Box">
    <div class="cf-Inner">
        <div class="cf-Fnct">
            <i class="fa fa-bold"></i>
        </div> 
        <div class="cf-Divider"></div>
        <div class="cf-Fnct">
            <i class="fa fa-italic"></i>
        </div>
        <div class="cf-Divider"></div>
        <div class="cf-Fnct">
            <i class="fa fa-underline"></i>
        </div> 
    </div>
</div>