<div class="TBS-Box">
    <div class="TBS-Inner"></div>
    <div class="text">
        <p>Apply color to text 
            <br>

            <img src='/styles/images/colors.png'>
        </p>
        
    </div>
</div>
