<div class="UnderCategory-Box">
    <div class="UnderCategory-Box-Inner">
        <div class="Note">
            <div class="Note-Date">
                <div class="Note-Title">
                    How to make a sandwich
                </div>
                <div class="Date-Created">
                    12.07.2020 - 12:00
                </div>
            </div>

            <div class="Note-Preview">First, gather some...</div>
        </div>

        <div class="Under-Divider"></div>

        <div class="Note">
            <div class="Note-Date">
                <div class="Note-Title">
                    Note Title
                </div>
                <div class="Date-Created">
                    12.07.2020 - 12:00
                </div>
            </div>

            <div class="Note-Preview">Note preview text...</div>
        </div>

    </div>
</div>