<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="stylesheet" href="/styles/leftMenu.css">
    <link rel="stylesheet" href="/styles/notes.css">
    <link rel="stylesheet" href="/styles/rightPage.css">
    <link rel="stylesheet" href="/styles/add.css">
    <link rel="stylesheet" href="/styles/colors.css">
    <link rel="stylesheet" href="/styles/characterFeatures.css">
    <link rel="stylesheet" href="/styles/alignment.css">
    <link rel="stylesheet" href="/styles/nightmode.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Home Page</title>
</head>
<body>

    <div class="App">
        <%- include('leftMenu'); %>
        <%- include('rightPage'); %>
    </div>

</body>
</html>