<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="stylesheet" href="/styles/leftMenu.css">
    <link rel="stylesheet" href="/styles/notes.css">
    <link rel="stylesheet" href="/styles/rightPage.css">
    <link rel="stylesheet" href="/styles/add.css">
    <link rel="stylesheet" href="/styles/colors.css">
    <link rel="stylesheet" href="/styles/characterFeatures.css">
    <link rel="stylesheet" href="/styles/alignment.css">
    <link rel="stylesheet" href="/styles/nightmode.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>Home Page</title>
</head>

<body>

    <div class="App">
        
        <%- include('rightPage'); %>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css"
        rel="stylesheet" type="text/css" />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
</body>

</html>