<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.2.0/css/ionicons.min.css"
        integrity="sha256-F3Xeb7IIFr1QsWD113kV2JXaEbjhsfpgrKkwZFGIA4E=" crossorigin="anonymous" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="d-flex justify-content-center" id=D__ID>
        <a href="home">
            <button type="button" class="btn btn-outline-primary btn-rounded waves-effect">Back</button>
        </a>
        <div id=page__ID>

            <div class="container-fluid" style='max-width:800px;padding-top:20px'>
                <div _class="text-center">
                    <h3>FAQ</h3> 
                    <hr style='border-top:1px solid #f05f40;'>
                    </hr>
                    <b>About</b>
                    <ul>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </ul>
                    <b>Lorem Ipsum</b>
                    <ul>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </ul>
                    <b>Lorem Ipsum</b>
                    <ul>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </ul>
                    <b>Lorem Ipsum</b>
                    <ul>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </ul>
                    
                   
                    <br>
                    <br><br>
                </div>
            </div>
        </div>

        <style>
            #D__ID {
                height: 100%;
                overflow: auto;
                animation: vm_module_fadein 1.0s;
                background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
            }

            #page__ID {
                color: #000;
                height: 100%;
            }

            #page__ID ul {
                /*padding-left:20px;*/
                color: #333;
            }

            #page__ID a {
                cursor: pointer;
            }

            html,
            body {
                height: 100%;
                width: 100%;
                background: -webkit-linear-gradient(left, #3931af, #00c6ff);
            }
        </style>
    </div>


    </div>
</body>

</html>