<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/hero.css">
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/home-components/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <!-- <h1>Welcome <%= name %></h1>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form> -->

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar" class="active">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4">
                <h1><a class="logo">Welcome <%= name %></a></h1>
                <div class="mb-5">
                    <form action="#" class="subscribe-form">
                        <div class="form-group d-flex">
                            <div class="icon"><span class="icon-paper-plane"></span></div>
                            <input type="text" class="form-control" placeholder="Search Notes...">
                        </div>
                    </form>
                </div>

                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="../home"> Create category</a>
                    </li>

                    <a href="#" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-star"></span> 
                      </a>

                      <a href="#" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-trash"></span> 
                      </a>
                </ul>

              
        
                



                <form class="button is-link is-light" action="/logout?_method=DELETE" method="POST">
                    <button type="submit">Log Out</button>
                </form>

            </div>

        </nav>


        <div id="content" class="p-4 p-md-5 pt-5">
            
            <div class="box cta">
                <p class="has-text-centered">
                    Note title <br> <br>
                    Lorem ipsum dolor sit amet, vitae vel lobortis cum donec morbi eget, consequat scelerisque id a orci quisque habitant. Ipsum lectus quam nibh, ac habitasse nunc aliquam tristique suspendisse integer. Eu quis tempor ac orci, hendrerit morbi nam ipsum id, hendrerit nisl, sapien ut leo in dis massa proin, diam augue non ullamcorper. Maecenas viverra, mauris tellus dictum nulla arcu, litora vehicula. Viverra proin vestibulum magna, augue erat magna nulla aenean nunc sed. Dignissim volutpat dignissim erat, condimentum leo donec leo elementum dictum phasellus. Turpis dolor libero urna vestibulum, sit lectus, mauris condimentum cum tortor mattis, parturient donec. Tincidunt aliquam habitasse velit elit. Et diam nulla praesent, quis wisi nec nullam dignissim orci nec, in velit, penatibus nisl proin sit libero ut, at etiam auctor et. Senectus integer lobortis, congue taciti erat bibendum, volutpat senectus dui a rhoncus.
                </p>
            
                    
               
                <a href="#" class="btn btn-info btn-lg float-right">
                    <span class="glyphicon glyphicon-plus-sign"></span> 
                  </a>
            </section>
            </div>
           
        
        <script src="/styles/home-components/js/jquery.min.js"></script>
        <script src="/styles/home-components/js/popper.js"></script>
        <script src="/styles/home-components/js/bootstrap.min.js"></script>
        <script src="/styles/home-components/js/main.js"></script>
</body>

</html>