<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    
    <link rel='stylesheet' href='/styles/login-styles.css' />
    <title>Login</title>
</head>

<body>
    <% if (messages.error) { %>
        <%= messages.error %>
    <% } %>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <h1>Welcome to the notes app!</h1>
                
                <br>
                <br>

            </div>

            <!-- Login Form -->
            <!-- change type = "" to match in css -->

            <form method="POST" action="/">
                <input type="text" id="email" class="fadeIn second" name="email" placeholder="Email" required>
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password" required>
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="signup">Not a member?</a> ||
                <a class="underlineHover" href="forgotPass">Forgot Password?</a>
            </div>

        </div>
    </div>




</body>

</html>