<div class="rightpage">
    <h1>Welcome to the notes app!</h1>
    <form action="/logout?_method=DELETE" method="POST">
        <button class="btn btn-primary btn-lg" type="submit">Log Out</button>
    </form>
    <hr>
    <button type="submit">SAVE</button>
    <hr>
    <form>
        <div class="text form-group shadow-textarea">
          
             <p>Notes</p> <textarea class="form-control" id="text" rows="4"></textarea>
            <br />
            <p>Todo List</p>
                <textarea class="form-control" id="text2" rows="4">
                </textarea>
                <br />
                <br />
                <br />
                <%- include('components/add')%>
                <br />

        </div>

        <div id="frameBorder">
            <div id="draggableHelper" style="display:inline-block">
                <div id="image">
                    <img class="photo" id="blah" src="#" alt=""/>
                    <button onclick="eraseImg();">delete</button>
                </div>
            </div>
        </div>

        <br />
        <p>Websites</p>
        <input type="text" id="txt_1" onkeyup='saveValue(this);'/> 
        <br />
        <input type="text" id="txt_2" onkeyup='saveValue(this);'/> 
        <br />
        <input type="text" id="txt_2" onkeyup='saveValue(this);'/>
        <br />
        <input type="text" id="txt_2" onkeyup='saveValue(this);'/>
        <br />
        <br />

    </form>
    
</div>

<script>
    // save notes function
    window.onbeforeunload = function () {
        $('textarea').each(function () {
            var id = $(this).attr('id');
            var value = $(this).val();
            localStorage.setItem(id, value);
        });
    }
    window.onload = function () {
        $('textarea').each(function () {
            var id = $(this).attr('id');
            var text2 = localStorage.getItem(id);
            if (text2 !== null) $('#' + id).val(text2);
        });
    }


    // add picture
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(300)
                    .height(300);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    // erase image
    function eraseImg() {
        document.getElementById('blah').style.display = 'none';
    }

    // add file
    // function readURL(input) {
    //     if (input.files && input.files[0]) {
    //         var reader = new FileReader();

    //         reader.onload = function (e) {
    //             $('#file')
    //                 .attr('src', e.target.result)
    //                 .width(300)
    //                 .height(300);
    //         };

    //         reader.readAsDataURL(input.files[0]);
    //     }
    // }

    // dark mode
    // function myFunction() {
    //     var element = document.body;
    //     element.classList.toggle("dark-mode");
    // }
    
</script>

<script type="text/javascript">
    document.getElementById("txt_1").value = getSavedValue("txt_1");    // set the value to this input
    document.getElementById("txt_2").value = getSavedValue("txt_2");   // set the value to this input
    /* Here you can add more inputs to set value. if it's saved */

    //Save the value function - save it to localStorage as (ID, VALUE)
    function saveValue(e){
        var id = e.id;  // get the sender's id to save it . 
        var val = e.value; // get the value. 
        localStorage.setItem(id, val);// Every time user writing something, the localStorage's value will override . 
    }

    //get the saved value function - return the value of "v" from localStorage. 
    function getSavedValue  (v){
        if (!localStorage.getItem(v)) {
            return "";// You can change this to your defualt value. 
        }
        return localStorage.getItem(v);
    }
</script>