.rightpage {
    background-color: #FFFFFF;
    width: 1150px;
    height: 980px;
    padding: 50px;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin: 100px;
}

.text h2 {
    font-size: 28px;
}

.text p {
    font-size: 24px;
}