.cf-Box {
    height: 60px;
    width: fit-content;
    border-radius: 15px;
    padding: 0 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    
}

.cf-Inner {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.cf-Inner::selection {
    background: none;
    color: none;
}

.cf-Divider {
    width: 2px;
    height: 35px;
    background-color: #dbdcdd;
    margin: 0 15px;
}