.Left-Menu {
    background-color: #F4F4F4;
    width: 720px;
    height: 1080px;
}

.Profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
    padding-top: 50px;
}

.Categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.Category-Expanded {
    margin-top: 50px;
}

.Expand-Button {
    position: absolute;
    right: 0;
    bottom: -20px;
}

.Category-Above {
    position: relative;
    z-index: 1000;
}

.Under-Category {
    position: absolute;
    top: 420px;
}

.Fav-Del {
    display: flex;
    justify-content: space-between;
    margin: 270px 230px 70px;
}

.Search-Bar {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0px 100px;
}

.header {
    font-size: 42px;
}

.avatar {
    background-color: #FFFFFF;
    width: 85px;
    height: 85px;
    box-shadow: 0 0 6px #FFFFFF;

}

.Btn-Box {
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 85px;
    cursor: pointer;
}

.Btn-Box:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.Btn-Icon {
    width: 45px;
    height: 45px;
}

.Category-Box {
    border-radius: 50px;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 520px;
    height: 85px;
    cursor: pointer;
    background-color: #73a6fc;
}

.Category-Box-Inner::selection {
    background: none;
    color: color;
}



.Searchbar-Box {
    border-radius: 50px;
    color: #DBDCDD;
    font-size: 24px;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 50px;
    width: 350px;
    height: 85px;
    border: 2px #F4F4F4 solid;
    background-color: #FFFFFF;
    box-shadow: 0 0 6px #FFFFFF;
    
}

.Searchbar-Box-Inner::selection {
    background: none;
    color: color;
    
}


.favourite {
    background-color: #F4CE35;
    width: 85px;
    height: 85px;
}

.trash {
    background-color: #EF5050;
    width: 85px;
    height: 85px;
}

.srch {
   background-color: #73a6fc;
   width: 85px;
   height: 85px; 
}

.expand {
    background-color: #DBDCDD;
    width: 70px;
    height: 70px;
}


.search {
    border: 0;
}



